.wallet_header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}

.wallet_header h2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 3px;
  color: #000;
  font-family: "Dongle";
}

.wallet_header h2:last-child {
  margin-right: 15px;
}

.wallet_header .email_header {
  margin-right: 60px;
}

@media (max-width: 700px) {
  .wallet_header {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .wallet_header h2 {
    font-size: 1.8rem;
  }

  .wallet_header .email_header {
    margin-right: 30px;
  }
}
