@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;700&family=Major+Mono+Display&display=swap');

:root {
  --primary-color: #6a53f4;
  --secondary-color: rgb(123, 103, 243);
  --wallet-primary-color: #25204d;
  --wallet-secondary-color: rgb(123, 116, 165);
  --auxiliary-color: white;
  --background-color: linear-gradient(90.05deg, #6A53F4 36.95%, rgba(35, 0, 253, 0.19) 101.27%);
  --wallet-background-color: linear-gradient(to right bottom, #1f1c3f, #1d193d, #1c1839, #171531);

  --main-font: "roboto";
}

html {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
}

#root{
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: var(--main-font);
  font-weight: 400;
}
