@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Major+Mono+Display&display=swap');

:root {
  --primary-color: #6A53F4;
  --auxiliary-color: white;
  --background-color: linear-gradient(90.05deg, #6A53F4 36.95%, rgba(35, 0, 253, 0.19) 101.27%);
  --secondary-color: #7B67F3;
  
  --main-font: "roboto";
}

html {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
}

#root{
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: var(--main-font);
  font-weight: 400;
}
