.form_page_login {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
  background: var(--login-background-color);
}

.form_page_left {
  display: flex;
  width: 40%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/smarthphone.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.form_page_title {
  font-size: 2rem;
  font-weight: 400;
  font-family: Major Mono Display;
  color: var(--auxiliary-color);
  position: absolute;
  top: 10px;
  left: 20px;
  margin: 0;
}

.div_important {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.div_important h1 {
  text-align: center;
  font-family: Inter;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  background: var(--main-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.div_important h2 {
  background: var(--main-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.div_important h3 {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.form_page_right {
  display: flex;
  width: 60%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/backgroundStyle.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.login_form {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 550px;
  min-height: 370px;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  min-width: 250px;
  z-index: 2;
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 5.55%, rgba(255, 255, 255, 0.00) 105.55%);
}

.login_form_section {
  display: flex;
  width: 85%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
}

.login_form h2 {
  color: var(--auxiliary-color);
  font-size: 1.5rem;
}

.label_login {
  color: var(--auxiliary-color);
}

.input_login {
  font-size: 1.2rem;
  height: 44px;
  margin: 10px 0 40px 0;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #FFF;
  background: rgba(196, 196, 196, 0.00);
  padding: 0 10px;
  color: var(--auxiliary-color);
  outline: none;
  font-family: var(--main-font);
}

.form_page_login button {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #5494F5;
  color: var(--auxiliary-color);
  font-size: 1.2rem;
  margin-top: 30px;
  transition: all 0.5s ease;
  position: relative;
  outline: none;
  border: none;
}

.form_page_login button::before {
  content: '';
  background: linear-gradient(269deg, rgba(255, 255, 255, 0.20) 0.66%, rgba(255, 255, 255, 0.00) 102.62%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 500ms;
}

.form_page_login button:hover::before {
  opacity: 1;
}

.form_page_login button:active {
  transform: scale(0.98);
}

.form_page_login button:disabled {
  cursor: not-allowed;
}

@keyframes smartphoneSecondary {
  0% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: translate(-50%, 30%);
  }
}

@media (max-width: 1100px) {
  .form_page_left {
    width: 100%;
    z-index: 2;
  }

  .form_page_right {
    width: 100%;
  }

  .div_formpage_images {
    width: 100%;
  }

  .img_form_smartphoneCalc {
    opacity: 0;
  }

  .img_form_smartphone {
    animation: smartphoneSmall 2s 0.2s ease forwards;
  }

  @keyframes smartphoneSmall {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.4;
      width: 400px;
      transform: translateX(10%)
    }
  }

  .img_form_smartphoneSecondary {
    animation: smartphoneSmallSecondary 2s ease forwards;
  }

  @keyframes smartphoneSmallSecondary {
    0% {
      opacity: 1;
      transform: rotateZ(30deg);
    }
    100% {
      opacity: 0.4;
      transform: translate(-40%, 30%);
      width: 350px;
    }
  }
}

@media (max-width: 800px) {
  .login_form_section {
    width: 80%;
  }

  .form_page_right {
    position: absolute;
    width: 100%;
  }

  .div_formpage_images {
    right: 0;
  }

  .img_form_indicator {
    opacity: 0.4;
  }
}
