.wallet_charts {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 950px) {
  .wallet_charts {
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: auto;
  }
}
